                                    /* Variables */
:root {
    /*Palette*/
    --black: #323232;
    --grey: #5A5A5A;
    --white: #FFFFFF;
    --orange: #F26843;
    --red: #E84D37;
    --soft-red: #D07058;
    --light-red-orange: #FBDED7;
    --light-pink: #F6B5A5;
    --peach-pink: #FFBC9E;
    --green-cyan: #849D8F;
    --green-cyan-light: #D7F2E3;
    --cyan-blue: #8996A6;
    --cyan-blue-light: #DAE4EF;
    --red-orange: #9D8B84;
    --red-orange-light: #EFE0DA;
    --ligh-grey: #B2B2B2;
    --lightest-grey: #ABABAB;
    --fade-grey:#EDEDED;
    --light-yellow: #F8F7F4;
    --orange-linear: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-white-linear: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-black-linear: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    /*Typography*/
    --main-font: 'Roboto', 'Arial', sans-serif;
    --font-body: 16px;
    --ln-body: 22px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    /*Values*/
    --container-width: 1146px;
    /*Text*/
    --text-dark: var(--black);
    --text-medium: var(--grey);
    --text-light: var(--white);
    /*Buttons*/
    --button-rest: var(--orange-linear);
    --button-hover: var(--orange-white-linear);
    --button-pressed: var(--orange-black-linear);
    /*Main menu links */
    --link-menu-current: var(--soft-red);
    --link-menu-hover: var(--light-red-orange);
    --link-menu-pressed: var(--light-pink);
    /*All other links exept main menu*/
    --link-hover: var(--peach-pink);
    --link-pressed: var(--red);
    /*Backgrounds*/
    --slider-one-dark: var(--green-cyan);
    --slider-one-light: var(--green-cyan-light);
    --slider-two-dark: var(--cyan-blue);
    --slider-two-light: var(--cyan-blue-light);
    --slider-three-dark: var(--red-orange);
    --slider-three-light: var(--red-orange-light);
    --form-border-light: var(--ligh-grey);
    --light-form-bg: var(--light-yellow);
    --light-background: var(--white);
    --border-transparant:  1px solid rgba(255, 255, 255, 0.2);
    --accent-color: rgba(255, 255, 255, 0.2);
    --border-submenu: rgba(50, 50, 50, 0.2);
}

                                    /* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--font-body);
    line-height: var(--ln-body);
    font-weight: var(--font-weight-regular);
    color: var(--text-light);
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.site-wrapper {
    min-width: 940px;
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 27px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
                                    /*Header*/
.header {
    display: grid;
    grid-template-rows: auto auto;
    width: 1146px;
    margin: 0 auto;
}

.header__contacts {
    justify-self: end;
    margin: 0 0 -40px auto;
    /*check this thing*/
    padding: 0;
}

.header__contacts-info {
    margin: 0;
    padding: 0 0 8px 17px;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    line-height: 16px;
}

.header__contacts-phone {
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
}

.header__navigation {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9px;
}

.header__logo {
    height: 64px;
}

/*site navigation*/
.header__site-navigation {
    list-style: none;
    padding: 0 0 6px;
    margin: 0 auto 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__site-navigation-item:not(:last-child) {
    margin-right: 6px;
}

.header__site-navigation-item-link {
    color: var(--text-light);
    text-decoration: none;
    padding: 5px 14px 8px 14px;
    display: block;
}
/*site navigation submenu*/
.catalog-item-link {
    position: relative;
}

.catalog-item-link:hover .header__site-navigation-catalog-submenu {
   display: block;
}

.header__site-navigation-catalog-submenu {
    position: absolute;
    top: 36px;
    left: -7px;
    display: none;
    z-index: 8;
    width: 143px;
    padding: 4px 0;
    margin: 0;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    line-height: 16px;
    list-style: none;
    background-color: var(--text-light);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.header__site-navigation-catalog-submenu-item {
    padding: 5px 21px 5px 20px;
}

.header__site-navigation-item-submenu-link {
    color: var(--text-dark);
    text-decoration: none;
}

.header__site-navigation-item-submenu-link-special {
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 8px;
    position: relative;
}
/*Не уверенна в правильности написанного*/
.header__site-navigation-item-submenu-link-special::after {
    content: "";
    position: absolute;
    width: 128px;
    height: 1px;
    background-color: var(--border-submenu);
    left: -10px;
    bottom: 0;
}

.header__site-navigation-catalog-submenu .header__site-navigation-catalog-submenu-item:nth-child(2) {
    padding-top: 7px;
}

/*user navigation*/
.header__user-navigation {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 16px;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 9px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
/*user search*/
.header__user-navigation-user-search {
    margin-right: 10px;
}

.header__user-navigation-user-search-form {
    position: relative;
}

.header__user-navigation-user-search-form-field {
    position: absolute;
    top: 39px;
    right: 0;
    padding: 20px 15px;
    display: none;
    z-index: 3;
    color: var (--text-dark);
    background-color: var(--light-yellow);
    border-radius: 4px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 14px;
}

.header__user-navigation-user-search-form:hover .header__user-navigation-user-search-form-field {
   display: block;
}

.input-search {
    width: 311px;
    height: 44px;
    font-size: 14px;
    line-height: 16px;
}

.header__user-navigation-user-search-form-button {
    display: block;
    padding: 0;
    width: 32px;
    height: 32px;
    background: var(--accent-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*user login*/
.header__user-navigation-user-login-form-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--text-light);
    text-decoration: none;
    padding: 8px 16px 8px;
    background: var(--accent-color);
    border-radius: 20px;
}

.header__user-navigation-user-login-form-link span {
    padding-left: 8px;
}
/*user login pop-up*/
.header__user-navigation-user-login-form { 
    position: relative;
}
.header__user-navigation-user-login-form-popup {
    position: absolute;
    right: 10px;
    top: 39px;
    width:277px;
    padding: 20px 17px 22px 19px;
    background-color:var(--light-yellow);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: none;
    z-index: 8;
}

.header__user-navigation-user-login-form-popup-login-fields-text {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}
.header__user-navigation-user-login-form-popup-login-fields input {
     width: 241px;
     padding: 10px 14px;
     border: 1px solid rgba(178, 178, 178, 0.52);;
     border-radius: 4px;
     background-color: var(--text-light);
}
.header__user-navigation-user-login-form-popup-login-help {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__user-navigation-user-login-form-popup-login-help-button {
    font-size: 18px;
    line-height:16px;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    background-image: var(--orange-linear);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    padding: 15px 26px 15px 25px;
    margin-right: 20px;
    border: none;
}
.header__user-navigation-login-help-link {
    text-decoration: none;
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    line-height: 15px;
    color: var(--text-dark);
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.header__user-navigation-user-login-form:hover .header__user-navigation-user-login-form-popup {
   display: block;
}
/*user empty cart*/
.header__user-navigation-user-cart-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    text-decoration: none;
    padding: 8px 16px 8px;
    background: var(--accent-color);
    border-radius: 20px;
}

.header__user-navigation-user-cart-empty span {
    padding-left: 8px;
}

.header__user-navigation-user-cart-full {
    display: block;
    padding: 8px 20px 8px 45px;
    background: var(--accent-color);
    border-radius: 20px;
}

/*header links and buttons behaviour*/
.header__site-navigation-item-link:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
    border-radius: 26px;
}

.header__site-navigation-item-link:active {
    box-shadow: inset 0px 2px 1px #696969;
    background-color: var(--fade-grey);
}

.header__site-navigation-catalog-submenu-item:hover {
    background-color: var(--link-menu-hover);
}

.header__site-navigation-catalog-submenu-item:active {
    background-color: var(--link-menu-pressed);
}

.header__user-navigation-user-search-form:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
    border-radius: 26px;
}

.header__user-navigation-user-search-form-button:hover path {
    fill: var(--text-dark);
}

.header__user-navigation-user-login-form-link:hover {
    color: var(--text-dark);
    background-color: var(--light-background);

}

.header__user-navigation-user-login-form-link:hover path {
    fill: var(--text-dark);
}

.header__user-navigation-login-help-link:hover,
.header__user-navigation-login-help-link:active {
    color: var(--link-pressed);
}

                                    /*Sliders*/
.sliders {
    position: relative;
    padding-top: 321px;
    margin-bottom: 41px;
    text-align: center;
}

.site-wrapper-one {
    background-color: var(--slider-one-dark);
    background-image: url(../img/sliders/slider-1.png);
    background-repeat: no-repeat;
}

.site-wrapper-two {
    background-color: var(--slider-two-dark);
    background-image: url(../img/sliders/slider-2.png);
}

.site-wrapper-three {
    background-color: var(--slider-three-dark);
    background-image: url(../img/sliders/slider-3.png);
}

.sliders__sliders-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sliders__sliders-list-item-title {
    width: 700px;
    font-size: 60px;
    line-height: 60px;
    font-weight: var(--font-weight-bold);
    margin: 0 auto;
    margin-bottom: 27px;
}
.sliders__sliders-list-item-button {
    display: inline-block;
    font-size: 32px;
    line-height: 44px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    padding: 9px 23px;
    border-radius: 70px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    /*move to root*/
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.sliders__sliders-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    display: flex;
    width: 67px;
    justify-content: space-between;
}

.sliders__sliders-controls-button {
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.sliders__sliders-controls-button.current {
    background-color: #ffffff;
    /*move to root*/
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}
/*sliders buttons behaviour*/
.sliders__sliders-list-item-button:hover,
.sliders__sliders-list-item-button:focus {
    background-image: var(--button-hover);
    box-shadow: 0px 2px 2px #AC1000;
}

.sliders__sliders-list-item-button:active {
    background-image: var(--button-pressed);
    box-shadow: inset 0px 2px 2px #942718;
}
                                    /*Offers*/
.offers {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.offers__raspberry-offer {
    background-image: url("../img/backgrounds/raspberry-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 16px 16px 30px 22px;
}

.offers__raspberry-offer-title {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.offers__raspberry-offer-text {
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.offers__raspberry-offer-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offers__raspberry-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 16px 22px 15px 16px;
}

.offers__chocolate-offer {
    background-image: url("../img/backgrounds/chocolate-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 16px 16px 30px 22px;
}

.offers__chocolate-offer-title {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.offers__chocolate-offer-text {
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.offers__chocolate-offer-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offers__chocolate-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 16px 22px 15px 16px;
}
/*offers buttons behaviour*/
.offers__raspberry-offer-button:hover {
    background-image: var(--button-hover);
}

.offers__raspberry-offer-button:focus {
    background-image: var(--button-pressed);
}

.offers__chocolate-offer-button:hover {
    background-image: var(--button-hover);
}

.offers__chocolate-offer-button:focus {
    background-image: var(--button-pressed);
}
                                    /*Hits*/
.hits {
    margin-bottom: 40px;
}

.hits__hits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hits__hits-list-item {
    max-width: 267px;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.hits__hits-list-item-price {
    position: absolute;
    left: -1px;
    bottom: 76px;
}
.hits__hits-list-item-link {
    text-decoration: none;
}
.hits__hits-list-image {
    margin: 0;
    padding: 0;
    position: relative;
}
.hits__hits-list-image-hit {
    position: absolute;
}
.hits__hits-list-item-image {
    border-radius: 50%;
    margin-bottom: 13px;
}

.hits__hits-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    display: inline;
    border-bottom: var(--border-transparant);
    margin: 0;
}

.hits__hits-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    justify-items: center;
}

.hits__hits-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}
.hits__hits-list-item-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 50px;
    padding: 10px 16px;
    margin: 0;
    display: none;
}

/*hits buttons behaviour*/
.hits__hits-list-item-button:hover {
    background-image: var(--button-hover);
}

.hits__hits-list-item-button:focus {
    background-image: var(--button-pressed);
}
                                    /*Features*/
.features {
    color: var(--text-dark);
    background-image: url(../img/backgrounds/waffle-bg.jpg);
    background-repeat: repeat;
    background-size: 1146px 306px;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 24px 23px 29px 20px;
}

.features__intro {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
    margin: 0 0 7px;
}

.features__features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 26px;
}

.features__features-list-item {
    margin-bottom: 33px;
    padding-left: 55px;
    position: relative;
}
.features__features-list-item::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
}
.item-ice::before {
    background-image: url(../img/icons/feature-1.svg);
}
.item-ingredient::before {
    background-image: url(../img/icons/feature-3.svg);      
}
.item-milk::before {
    background-image: url(../img/icons/feature-2.svg);
}
.item-temp::before {
     background-image: url(../img/icons/feature-4.svg);
}
.features__features-list-item-text {
    margin: 0
}

.features__features-list-item:nth-child(3) {
    margin-bottom: 0;
}

.features__features-list-item:nth-child(4) {
    margin-bottom: 0;
}
                                    /*News and Subscription*/
.news-and-subscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin-bottom: 40px;
}
/*news*/
.news-and-subscription__news {
    color: var(--text-dark);
    background-image: url(../img/backgrounds/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 23px 250px 0 20px;
}

.news-and-subscription__news-title {
    font-size: var(--font-body);
    margin: 0;
}

.news-and-subscription__news-link {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: 30px;
    color: var(--text-dark);
}
/*subscription*/
.news-and-subscription__subscription {
    border: 8px solid white;
    border-image: url("../img/backgrounds/subscription-bg.svg") 10 round round;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px 21px 28px;
}

.news-and-subscription__subscription-text {
    color: var(--text-medium);
    padding: 0;
    margin: 0 0 47px;
}

.news-and-subscription__subscription-form {
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.news-and-subscription__subscription-form-button {
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    background-image: var(--orange-linear);
    border-radius: 70px;
    padding: 11px 19px;
    border: none;
}

.news-and-subscription__subscription-form-input {
    flex-grow: 1;
    margin-right: 10px;
    width: 241px;
    padding: 10px 14px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 4px;
    background-color: var(--text-light);
}
/*news and subscription links and buttons behaviour*/
.news-and-subscription__subscription-form-button:hover {
    background-image: var(--button-hover);
}

.news-and-subscription__subscription-form-button:focus {
    background-image: var(--button-pressed);
}

.news-and-subscription__news-link:hover {
    color: var(--link-pressed);
}

                                    /*Contacts*/
.contacts {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-dark);
}

.contacts__address {
     position: absolute;
     top:62px;
     right:27px;
     margin-left: auto;
     background-color: var(--white);
     border-radius: 19px;
/*     width: 303px;*/ /*Если скрыть ширину- получаем нужный размер, не пойму почему*/
     padding: 30px 25px 30px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
}

.contacts__address-text {
    margin: 0;
    margin-bottom: 20px;
}

.contacts__address-text-phone {
   margin: 0;
   margin-bottom: 20px;
}
.contacts__address-text-special {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
}
.contacts__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-decoration: none;
}
.contacts__button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 13px 28px;
/*    margin: auto;*/
    display: block;
}

/*contacts buttons behaviour*/
.contacts__button:hover {
    background-image: var(--button-hover);
}

.contacts__button:active{
    background-image: var(--button-pressed);
}
                                    /*Footer*/

.footer {
    font-size: 13px;
    line-height: 18px;
    padding: 18px 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__catalog {
    font-size: 13px;
    line-height: 18px;
    padding: 18px 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__socials-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 310px;
}

.footer__socials-list-item:not(:last-child) {
    margin-right: 12px;
}

.footer__service-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__socials-list-button {
    color: var(--text-light);
    text-decoration: none;
    width: 32px;
    height: 32px;
}
.footer__socials-list-button:hover path {
   fill-opacity: 1;
}
.footer__socials-list-button:active {
    border-color: rgba(255, 255, 255, 0.7); /*move to root*/
}
.footer__service-info-list-right {
    list-style: none;
    padding-right: 32px;
    margin: 0;
}

.footer__service-info-link {
    color: var(--text-light);
    text-decoration: none;
}

.link-special {
    position: relative;
}

.link-special::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background-image: url(../img/icons/heart.svg);
    background-repeat: no-repeat;
    top: 3px;
    left: -22px;
}
.footer__service-info-list-left {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__copyright {
    width: 190px;
    font-size: 12px;
    line-height: 18px;
}

.footer__copyright-text {
    margin: 0;
}

.footer__copyright-link {
    text-decoration: none;
    color: var(--text-light);
}
/*footer links and buttons behaviour*/
.footer__service-info-link:hover {
    color: var(--link-hover);
}

.footer__copyright-link:hover {
    color: var(--link-hover);
}

                                    /*Modal*/
.modal-feedback {
    width: 477px;
    margin: auto;  
}
.modal-feedback__form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 25px 27px 23px;
    border-radius: 6px;
    background-color: var(--light-yellow);
}
.modal-feedback-title {
    font-size: 24px;
    line-height: 28px;
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
    margin: 0 0 20px 0;
}
.modal-feedback__form-item {
     margin: 0 0 20px 0;
}
.modal-feedback__form-input {
    width: 267px;
    padding: 10px 14px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 4px;
    background-color: var(--text-light);
}
.modal-feedback__form-textarea {
    height: 154px;
    width:428px;
    padding-top: 14px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 4px;
    background-color: var(--text-light);
}
.modal-feedback__form-button-send {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--orange-linear);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    border: none;
    border-radius: 70px;
    align-self: flex-end;
    margin: 8px 0 0 0;
    padding: 14px 24px;
}
.modal-feedback__form-button-close {
    position: absolute;
    top: 15px;
  right: 16px;
    width: 18px;
    height: 17px;
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}



                                    /*Catalog Page*/

                                    /*Header*/
.wrapper-main {
    display: flex;
    flex-direction: column;
}

.catalog-title {
    order: 2;
    margin-bottom: 29px;
}

.breadcrumbs-and-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.header__breadcrumbs-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header__breadcrumbs-list-item {
    margin-right: 22px;
}

.header__site-navigation-item-current {
    color: var(--text-light);
    text-decoration: none;
    background-color: var(--soft-red);
    border-radius: 26px;
    padding: 5px 14px 8px 14px;
    display: block;
}

.header__user-navigation-user-cart-full {
    text-decoration: none;
    color: var(--text-light);
}

.header__user-navigation-user-cart-container {
    background-color: var(--light-yellow);
}

.header__user-navigation-user-cart-table {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    color: var(--text-dark);
}

.header__user-navigation-user-cart-table-weight-price {
    color: var(--lightest-grey);
}

.header__user-navigation-user-cart-table-total-price {
    font-size: 15px;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
}

.header__user-navigation-user-cart-table-order-button {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
}

.header__breadcrumbs-list-item-link {
    font-size: 14px;
    color: var(--text-light);
    text-decoration: none;
}
/*header links and buttons behaviour*/
.header__user-navigation-user-cart-table-order-button:hover {
    background-image: var(--button-hover);
}

.header__user-navigation-user-cart-table-order-button:focus {
    background-image: var(--button-pressed);
}
                                    /*Filters*/
.filters {
    margin-bottom: 40px;
}

.filters__filters-form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.filters__filters-form-sorting-filter {
    border: none;
}

.filters__filters-form-price-range-filter {
    border: none;
}

.filters__filters-form-fat-filter {
    border: none;
}

.filters__filters-form-fat-filter-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.filters__filters-form-fat-filter-list-item:not(:last-child) {
    margin-right: 20px;
}

.filters__filters-form-taste-filter {
    border: none;
}

.filters__filters-form-taste-filter-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.filters__filters-form-taste-filter-list-item:not(:last-child) {
    margin-right: 20px;
}

.filters__filters-form-button {
    padding: 9px 29px;
    text-align: center;
    font-weight: var(--font-weight-medium);
    color: var(--text-light);
    border: 2px solid var(--text-light);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /*move to root*/
}
/*filter links and buttons behaviour*/
.filters__filters-form-button:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
}
.filters__filters-form-button:active {
    box-shadow: inset 0px 2px 1px #696969;
    background-color: var(--fade-grey);
}

                                    /*Catalog*/
.site-wrapper-catalog {
    background-color: var(--slider-one-dark);
}

.catalog {
    padding-top: 40px;
    padding-bottom: 30px;

}

.catalog__catalog-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    margin: 0 0 80px;
    padding: 0;
}

.catalog__catalog-list-item {
    max-width: 267px;
    text-align: center;
}

.catalog__catalog-list-item-link {
    text-decoration: none;
}

.catalog__catalog-list-item-image {
    border-radius: 50%;
    margin-bottom: 13px;
}

.catalog__catalog-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    display: inline;
    border-bottom: var(--border-transparant);
    margin: 0;
}

.catalog__catalog-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    justify-items: center;
}

.catalog__catalog-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}

.catalog__catalog-list-item-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 50px;
    padding: 10px 16px;
}

.catalog__pagination-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0
}

.catalog__pagination-list-item {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    margin-left: 20px;
}

/*catalog buttons behaviour temporary*/
.catalog__catalog-list-item-button:hover {
    background-image: var(--button-hover);
}
.catalog__catalog-list-item-button:focus {
    background-image: var(--button-pressed);
}
.catalog__pagination-list-item:hover {
    background-color: var(--white);
    border-radius: 50%;
    color:var(--text-dark);
}