/* Variables */
:root {
    /*Palette*/
    --black: #323232;
    --grey: #5A5A5A;
    --white: #FFFFFF;
    --orange: #F26843;
    --red: #E84D37;
    --soft-red: #D07058;
    --light-red-orange: #FBDED7;
    --light-pink: #F6B5A5;
    --peach-pink: #FFBC9E;
    --green-cyan: #849D8F;
    --green-cyan-light: #D7F2E3;
    --cyan-blue: #8996A6;
    --cyan-blue-light: #DAE4EF;
    --red-orange: #9D8B84;
    --red-orange-light: #EFE0DA;
    --ligh-grey: #B2B2B2;
    --lightest-grey:#ABABAB;
    --light-yellow: #F8F7F4;
    /*Typography*/
    --main-font: 'Roboto', 'Arial', sans-serif;
    --font-body: 16px;
    --ln-body: 22px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    /*Text*/
    --text-dark: var(--black);
    --text-medium: var(--grey);
    --text-light: var(--white);
    /*Buttons*/
    --button-simple: var(--orange);
    /*Main menu links */
    --link-menu-current: var(--soft-red);
    --link-menu-hover: var(--light-red-orange);
    --link-menu-pressed: var(--light-pink);
    /*All other links exept main menu*/
    --link-hover: var(--peach-pink);
    --link-pressed: var(--red);
    /*Backgrounds*/
    --slider-one-dark: var(--green-cyan);
    --slider-one-light: var(--green-cyan-light);
    --slider-two-dark: var(--cyan-blue);
    --slider-two-light: var(--cyan-blue-light);
    --slider-three-dark: var(--red-orange);
    --slider-three-light: var(--red-orange-light);
    --form-border-light: var(--ligh-grey);
    --light-bg: var(--light-yellow);
}

/* Global */
body {
    min-width: 1200px;
    margin:0;
    padding:0;
    font-family: var(--main-font);
    font-size: var(--font-body);
    line-height: var(--ln-body);
    font-weight: var(--font-weight-regular);
    color: var(--text-light);
    background-color: var(--slider-one-dark);
    min-height: 100%;
    width:1146px;
    margin: 0 auto;
    display:grid;
	grid-template-rows: min-content 1fr min-content;
}

img {
    max-width: 100%;
    height: auto;
}
/*Header*/
.header {
    display:grid;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
}
.header__contacts {
    justify-self: end;
}

.header_navigation {
    display: grid;
    grid-template-columns:154px 1fr 1fr;
     font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 18px;
}

.header__site-navigation {
    padding-left:24px;
    list-style: none;
}
.header__site-navigation-item-link {
    color: var(--text-light);
    text-decoration: none;
}

.header__site-navigation-item-submenu {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    line-height: 16px;
    list-style: none;
}

.header__site-navigation-item-submenu-link {
    color: var(--text-dark);
    text-decoration: none;
}

.header__site-navigation-item-submenu-link-special {
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-decoration: none;
}

/*user navigation*/
.header__user-navigation {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 16px;
    list-style: none;
}

.header__user-navigation-user-login-form-link {
    color: var(--text-light);
    text-decoration: none;
}

.header__user-navigation-user-login-form-button-login {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    background-color: var(--button-simple);
}

.header__user-navigation-login-help-link {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    line-height: 15px;
    color: var(--text-dark);
}

.header__user-navigation-user-cart-empty {
    color: var(--text-light);
    text-decoration: none;
}

.header__contacts-info {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    line-height: 16px;
}

.header__contacts-phone {
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
}
                                            /*Sliders*/
.sliders__sliders-list {
    list-style: none;
}

.sliders__sliders-list-item-title {
    font-size: 60px;
    line-height: 60px;
    font-weight: var(--font-weight-bold);
}
.sliders__sliders-list-item-button {
    font-size:32px;
    line-height: 44px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);
}
.sliders__sliders-pagination {
    list-style: none;
}
                                            /*Offers*/
.offers {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 
}
.offers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin:0;
	padding:0;
}
.offers__raspberry-offer {
    background-image: url("../img/backgrounds/raspberry-bg.jpg");
    background-repeat: no-repeat;
    background-size:560px 229px;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 30px;
    
}
.offers__raspberry-offer-title {
    font-size: 35px;
    line-height: 41px;
}
.offers__raspberry-offer-text {
    line-height: 22px;
}
.offers__raspberry-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);
}
.offers__chocolate-offer {
    background-image: url("../img/backgrounds/chocolate-bg.jpg");
    background-repeat: no-repeat;
    background-size:560px 229px; 
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 30px;
}
.offers__chocolate-offer-title {
    font-size: 35px;
    line-height: 41px;
}
.offers__chocolate-offer-text {
    line-height: 22px;
}
.offers__chocolate-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);
}
                                            /*Hits*/
.hits {
    margin-bottom: 40px;
}
.hits__hits-list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 26px;
    list-style: none;
}
.hits__hits-list-item-link {
    text-decoration: none;
}
.hits__hits-list-item-image {
    border-radius:50%;
}
.hits__hits-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    text-align: center;
}
.hits__hits-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
	padding: 0;
}
.hits__hits-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}
.hits__hits-list-item-button {
    font-size: 18px;
   line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);  
}

                                        /*Features*/
.features {
   color: var(--text-dark);
  background-image: url(../img/backgrounds/waffle-bg.jpg);
  background-repeat:repeat;
  background-size: 1146px 306px; 
  border-radius:16px;
  margin-bottom: 40px;
} 
.features__intro {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
}
.features__features-list {
    list-style: none;
}
                            /*News and Subscription*/
.news-and-subscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-column-gap: 26px
    
}
.news-and-subscription__news {
  color: var(--text-dark); 
    background-image: url(../img/backgrounds/blog-bg.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
	padding-left: 20px;
    background-size: 560px 220px; 
}
.news-and-subscription__news-title {
    font-size:var(--font-body); 
}
.news-and-subscription__news-link {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: 30px;
    color: var(--text-dark); 
}
.news-and-subscription__subscription {
    border:8px solid white;
	border-image: url("../img/backgrounds/subscription-bg.svg") 10 round round;
    background-color: var(--white);
	border-radius:16px;
	padding-left: 20px;
}
.news-and-subscription__subscription-text {
    color:var(--text-medium);
}
.news-and-subscription__subscription-form-button {
    font-size: 18px;
   line-height: 24px;
    color: var(--text-light);
    background-color: var(--button-simple);
}
                        /*Contacts*/
.contacts {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-dark);
}
.contacts__address {
    background-color: var(--white);
    border-radius: 16px;
    width: 303px;
	height: 306px;
    padding: 32px 25px;
}
.contacts__address-text-special {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
}
.contacts__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark); 
    text-decoration: none;
}
.contacts__button {
     font-size: 18px;
   line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);  
}   
/*Footer*/
.footer {
    font-size: 13px;
    line-height: 18px;
}
.footer .container {
      display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}
.footer__socials {
    width: 164px;
}

.footer__service-info {
    width: 327px;
    justify-self: center;
}

.footer__copyright {
    width: 190px;
    justify-self: end;
}

.footer__socials-list {
    list-style: none;
}

.footer__socials-list-button {
    color: var(--text-light);
    text-decoration: none;
}

.footer__service-info-list-right {
     list-style: none;
}
.footer__service-info-link {
   color: var(--text-light);
    text-decoration: none; 
}
.footer__service-info-list-left {
     list-style: none;
}
.footer__copyright {
     font-size: 12px;
}
.footer__copyright-link {
    text-decoration: none;
    color: var(--text-light);
}
/*Modal*/
.modal-feedback-title {
    font-size: 24px;
    line-height: 28px;
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}
.modal-feedback__form-button-send {
     font-size: 18px;
   line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);  
}



/*Catalog*/
/*header*/
.header__site-navigation-item-current {
    color:var(--text-light);
    text-decoration: none;
    background-color: var(--soft-red);
}
.header__user-navigation-user-cart-full {
    text-decoration: none;
    color: var(--text-light);
}
.header__user-navigation-user-cart-container{
    background-color: var(--light-yellow);
}
.header__user-navigation-user-cart-table {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
     color: var(--text-dark);
}
.header__user-navigation-user-cart-table-weight-price {
    color:var(--lightest-grey);
}
.header__user-navigation-user-cart-table-total-price {
    font-size: 15px;
    font-weight: var(--font-weight-bold);
    color:var(--text-dark);
}
.header__user-navigation-user-cart-table-order-button {
   font-size: 18px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);    
}
.header__breadcrumbs-list {
     list-style: none;
}
.header__breadcrumbs-list-item-link {
    font-size: 14px;
   color: var(--text-light);
    text-decoration: none;
}

.catalog__catalog-list {
    list-style: none;
}
.catalog__catalog-list-item .catalog__catalog-list-item-link {
  text-decoration: none;   
}
.catalog__catalog-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium); 
}
.catalog__catalog-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
	padding: 0;
}
.catalog__catalog-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}
.catalog__catalog-list-item-button {
   font-size: 18px;
   line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);   
}
.catalog__pagination-list {
    list-style: none;
}
.catalog__pagination-list-item {
    text-decoration: none;
   color: var(--text-light);
    font-size: 16px;
}
.container__inner {
    width:1146px;
    margin: 0 auto;
}

.catalog__catalog-list{
    outline-offset: -9px;
    display: grid;
    grid-template-columns:267px 267px 267px 267px;
    grid-column-gap: 26px;
    margin:0;
    padding: 0;
}

/*Button and Links effects*/
.header__site-navigation-item-link:hover {
    color:var(--text-dark);
    background-color:var(--text-light);
}
.header__site-navigation-item-submenu {
    background-color:var(--text-light);
}
.header__site-navigation-item-submenu-link:hover {
    background-color:var(--link-menu-hover);
}
.header__site-navigation-item-submenu-link:focus {
   background-color:var(--link-menu-pressed); 
}
.header__user-navigation-user-search-form:hover {
    color:var(--text-dark);
    background-color:var(--text-light);
}
.header__user-navigation-user-login-form-link:hover {
   color:var(--text-dark);
    background-color:var(--text-light); 
}
.header__user-navigation-login-help-link:hover,
.header__user-navigation-login-help-link:focus
{
    color:var(--link-pressed);
}
.news-and-subscription__news-link:hover {
   color:var(--link-pressed);
}
.footer__service-info-link:hover {
    color:var(--link-hover);
}
.footer__copyright-link:hover {
   color:var(--link-hover);
}
