                                    /* Variables */
:root {
    /*Palette*/
    --black: #323232;
    --grey: #5A5A5A;
    --white: #FFFFFF;
    --orange: #F26843;
    --red: #E84D37;
    --soft-red: #D07058;
    --light-red-orange: #FBDED7;
    --light-pink: #F6B5A5;
    --peach-pink: #FFBC9E;
    --green-cyan: #849D8F;
    --green-cyan-light: #D7F2E3;
    --cyan-blue: #8996A6;
    --cyan-blue-light: #DAE4EF;
    --red-orange: #9D8B84;
    --red-orange-light: #EFE0DA;
    --ligh-grey: #B2B2B2;
    --lightest-grey: #ABABAB;
    --light-yellow: #F8F7F4;
    --orange-linear: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-white-linear: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --orange-black-linear: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    /*Typography*/
    --main-font: 'Roboto', 'Arial', sans-serif;
    --font-body: 16px;
    --ln-body: 22px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    /*Values*/
    --container-width: 1146px;
    /*Text*/
    --text-dark: var(--black);
    --text-medium: var(--grey);
    --text-light: var(--white);
    /*Buttons*/
    --button-rest: var(--orange-linear);
    --button-hover: var(--orange-white-linear);
    --button-pressed: var(--orange-black-linear);
    /*Main menu links */
    --link-menu-current: var(--soft-red);
    --link-menu-hover: var(--light-red-orange);
    --link-menu-pressed: var(--light-pink);
    /*All other links exept main menu*/
    --link-hover: var(--peach-pink);
    --link-pressed: var(--red);
    /*Backgrounds*/
    --slider-one-dark: var(--green-cyan);
    --slider-one-light: var(--green-cyan-light);
    --slider-two-dark: var(--cyan-blue);
    --slider-two-light: var(--cyan-blue-light);
    --slider-three-dark: var(--red-orange);
    --slider-three-light: var(--red-orange-light);
    --form-border-light: var(--ligh-grey);
    --light-form-bg: var(--light-yellow);
    --light-background: var(--white);
    --border-transparant:  1px solid rgba(255, 255, 255, 0.2);
}

                                    /* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--font-body);
    line-height: var(--ln-body);
    font-weight: var(--font-weight-regular);
    color: var(--text-light);
    background-color: var(--slider-one-dark);
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

                                    /*Header*/
.header {
    display: grid;
    grid-template-rows: auto auto;
    width: 1146px;
    margin: 0 auto;
}

.header__contacts {
    justify-self: end;
    margin: 0;
}

.header__navigation {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 18px;
    display: flex;
    align-items: flex-start;
    padding-top: 14px;
    padding-bottom: 10px;
}

.header__site-navigation {
    list-style: none;
    padding: 14px 0;
    margin: 0 0 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.header__site-navigation-item {
    margin-right: 32px;
}

.header__site-navigation-item-link {
    color: var(--text-light);
    text-decoration: none;
    padding: 5px 14px 8px 14px;
    display: block;
}

.header__site-navigation-item-submenu {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    line-height: 16px;
    list-style: none;
}

.header__site-navigation-item-submenu-link {
    color: var(--text-dark);
    text-decoration: none;
}

.header__site-navigation-item-submenu-link-special {
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-decoration: none;
}
/*user navigation*/

.header__user-navigation {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 16px;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 14px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.header__user-navigation-user-search {
    margin-right: 10px;
}

.header__user-navigation-user-login {
    margin-right: 10px;
}

.header__user-navigation-user-login-form-link {
    color: var(--text-light);
    text-decoration: none;
}

.header__user-navigation-user-login-form-button-login {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    background-image: var(--orange-linear);
}

.header__user-navigation-login-help-link {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    line-height: 15px;
    color: var(--text-dark);
}

.header__user-navigation-user-cart-empty {
    color: var(--text-light);
    text-decoration: none;
}

.header__contacts-info {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    line-height: 16px;
}

.header__contacts-phone {
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
}
/*header links and buttons behaviour*/
.header__site-navigation-item-link:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
}

.header__site-navigation-item-submenu {
    background-color: var(--light-background);
}

.header__site-navigation-item-submenu-link:hover {
    background-color: var(--link-menu-hover);
}

.header__site-navigation-item-submenu-link:focus {
    background-color: var(--link-menu-pressed);
}

.header__user-navigation-user-search-form:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
}

.header__user-navigation-user-login-form-link:hover {
    color: var(--text-dark);
    background-color: var(--light-background);
}

.header__user-navigation-login-help-link:hover,
.header__user-navigation-login-help-link:focus {
    color: var(--link-pressed);
}

                                    /*Sliders*/
.sliders__sliders-list {
    list-style: none;
}

.sliders__sliders-list-item-title {
    font-size: 60px;
    line-height: 60px;
    font-weight: var(--font-weight-bold);
}

.sliders__sliders-list-item-button {
    font-size: 32px;
    line-height: 44px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    padding: 9px 23px;
    border-radius: 70px;
}

.sliders__sliders-pagination {
    list-style: none;
}
/*sliders buttons behaviour*/
.sliders__sliders-list-item-button:hover {
    background-image: var(--button-hover);
}

.sliders__sliders-list-item-button:focus {
    background-image: var(--button-pressed);
}

                                    /*Offers*/
.offers {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.offers__raspberry-offer {
    background-image: url("../img/backgrounds/raspberry-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 16px 16px 30px 22px;
}

.offers__raspberry-offer-title {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.offers__raspberry-offer-text {
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.offers__raspberry-offer-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.offers__raspberry-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 16px 22px 15px 16px;
}

.offers__chocolate-offer {
    background-image: url("../img/backgrounds/chocolate-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 16px 16px 30px 22px;
}

.offers__chocolate-offer-title {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.offers__chocolate-offer-text {
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.offers__chocolate-offer-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.offers__chocolate-offer-button {
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 16px 22px 15px 16px;
}
/*offers buttons behaviour*/
.offers__raspberry-offer-button:hover {
    background-image: var(--button-hover);
}

.offers__raspberry-offer-button:focus {
    background-image: var(--button-pressed);
}

.offers__chocolate-offer-button:hover {
    background-image: var(--button-hover);
}

.offers__chocolate-offer-button:focus {
    background-image: var(--button-pressed);
}

                                    /*Hits*/
.hits {
    margin-bottom: 40px;
}

.hits__hits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hits__hits-list-item {
    max-width: 267px;
    text-align: center;
}

.hits__hits-list-item-link {
    text-decoration: none;
}

.hits__hits-list-item-image {
    border-radius: 50%;
    margin-bottom: 13px;
}

.hits__hits-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    display: inline;
    border-bottom: var(--border-transparant);
    margin: 0;
}

.hits__hits-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    justify-items: center;
}

.hits__hits-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}

.hits__hits-list-item-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 50px;
    padding: 10px 16px;
}

/*hits buttons behaviour*/
.hits__hits-list-item-button:hover {
    background-image: var(--button-hover);
}

.hits__hits-list-item-button:focus {
    background-image: var(--button-pressed);
}
                                    /*Features*/
.features {
    color: var(--text-dark);
    background-image: url(../img/backgrounds/waffle-bg.jpg);
    background-repeat: repeat;
    background-size: 1146px 306px;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 24px 20px;
}

.features__intro {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
    margin: 0;
    margin-bottom: 21px;
}

.features__features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.features__features-list-item {
    max-width: 482px;
    margin: 0;
    margin-bottom: 33px;
    padding-left: 56px;
}

.features__features-list-item-text {
    margin: 0
}

.features__features-list-item:nth-child(3) {
    margin-bottom: 0;
}

.features__features-list-item:nth-child(4) {
    margin-bottom: 0;
}
                                    /*News and Subscription*/
.news-and-subscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin-bottom: 40px;
}

.news-and-subscription__news {
    color: var(--text-dark);
    background-image: url(../img/backgrounds/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 23px 253px 20px 20px;
}

.news-and-subscription__news-title {
    font-size: var(--font-body);
    margin: 0;
}

.news-and-subscription__news-link {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: 30px;
    color: var(--text-dark);
}

.news-and-subscription__subscription {
    border: 8px solid white;
    border-image: url("../img/backgrounds/subscription-bg.svg") 10 round round;
    background-color: var(--white);
    border-radius: 16px;
    padding: 29px 20px;
}

.news-and-subscription__subscription-text {
    color: var(--text-medium);
    padding: 0;
    margin: 0;
    margin-bottom: 47px;
}

.news-and-subscription__subscription-form {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 498px;
}

.news-and-subscription__subscription-form-button {
    font-size: 18px;
    line-height: 24px;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 50px;
    padding: 10px 19px;
}

.news-and-subscription__subscription-form-input {
    margin-right: 10px;
}
/*news and subscription links and buttons behaviour*/
.news-and-subscription__subscription-form-button:hover {
    background-image: var(--button-hover);
}

.news-and-subscription__subscription-form-button:focus {
    background-image: var(--button-pressed);
}

.news-and-subscription__news-link:hover {
    color: var(--link-pressed);
}

                                    /*Contacts*/
.contacts {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-dark);
}

.contacts__address {
    background-color: var(--white);
    border-radius: 16px;
    width: 303px;
    padding: 32px 25px;
    display: flex;
    flex-direction: column;
}

.contacts__address-text {
    margin: 0 0 30px 0;
}

.contacts__address-text-phone {
    margin: 0;
    margin-bottom: 30px;
}

.contacts__address-text-special {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
}

.contacts__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-decoration: none;
}

.contacts__button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 70px;
    padding: 13px 28px;
    margin: auto;
}

/*contacts buttons behaviour*/
.contacts__button:hover {
    background-image: var(--button-hover);
}

.contacts__button:focus {
    background-image: var(--button-pressed);
}

                                    /*Footer*/

.footer {
    font-size: 13px;
    line-height: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1146px;
    margin: 0 auto;
    margin-top: 18px;
}

.footer__copyright {
    justify-self: end;
}

.footer__socials {
    width: 164px;
}

.footer__service-info {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    width: 190px;
}

.footer__socials-list {
    list-style: none;
    display: flex;
    /*  flex-wrap: wrap;*/
}

.footer__socials-list-button {
    color: var(--text-light);
    text-decoration: none;
}

.footer__service-info-list-right {
    list-style: none;
}

.footer__service-info-link {
    color: var(--text-light);
    text-decoration: none;
}

.footer__service-info-list-left {
    list-style: none;

}

.footer__copyright {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__copyright-link {
    text-decoration: none;
    color: var(--text-light);
}

.footer__socials-list-item {
    margin-right: 12px;
}
/*footer links and buttons behaviour*/
.footer__service-info-link:hover {
    color: var(--link-hover);
}

.footer__copyright-link:hover {
    color: var(--link-hover);
}

                                    /*Modal*/
.modal-feedback-title {
    font-size: 24px;
    line-height: 28px;
    color: var(--text-dark);
    font-weight: var(--font-weight-medium);
}

.modal-feedback__form-button-send {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--button-simple);
}

                                    /*Catalog Page*/

                                    /*Header*/
.wrapper-main {
    display: flex;
    flex-direction: column;
}

.catalog-title {
    order: 2;
}

.breadcrumbs-and-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.header__breadcrumbs-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header__breadcrumbs-list-item {
    margin-right: 22px;
}

.header__site-navigation-item-current {
    color: var(--text-light);
    text-decoration: none;
    background-color: var(--soft-red);
    border-radius: 26px;
    padding: 5px 14px 8px 14px;
    display: block;
}

.header__user-navigation-user-cart-full {
    text-decoration: none;
    color: var(--text-light);
}

.header__user-navigation-user-cart-container {
    background-color: var(--light-yellow);
}

.header__user-navigation-user-cart-table {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    color: var(--text-dark);
}

.header__user-navigation-user-cart-table-weight-price {
    color: var(--lightest-grey);
}

.header__user-navigation-user-cart-table-total-price {
    font-size: 15px;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
}

.header__user-navigation-user-cart-table-order-button {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
}

.header__breadcrumbs-list-item-link {
    font-size: 14px;
    color: var(--text-light);
    text-decoration: none;
}

/*header links and buttons behaviour*/
.header__user-navigation-user-cart-table-order-button:hover {
    background-image: var(--button-hover);
}

.header__user-navigation-user-cart-table-order-button:focus {
    background-image: var(--button-pressed);
}
                                    /*Filters*/
.filters {
    margin-bottom: 40px;
}

.filters__filters-form {
    display: flex;
    flex-wrap: wrap;
    width: 869px;
    align-items: center;
    justify-content: space-between;
}

.filters__filters-form-sorting-filter {
    border: none;
}

.filters__filters-form-price-range-filter {
    border: none;
}

.filters__filters-form-fat-filter {
    border: none;
}

.filters__filters-form-fat-filter-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.filters__filters-form-taste-filter {
    border: none;
}

.filters__filters-form-taste-filter-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
                                    /*Catalog*/
.catalog {
    margin-bottom: 30px;
}

.catalog__catalog-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    margin: 0;
    padding: 0;
}

.catalog__catalog-list-item {
    max-width: 267px;
    text-align: center;
}

.catalog__catalog-list-item-link {
    text-decoration: none;
}

.catalog__catalog-list-item-image {
    border-radius: 50%;
    margin-bottom: 13px;
}

.catalog__catalog-list-item-title {
    color: var(--text-light);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    display: inline;
    border-bottom: var(--border-transparant);
    margin: 0;
}

.catalog__catalog-list-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    justify-items: center;
}

.catalog__catalog-list-item-price-kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: var(--font-weight-bold);
}

.catalog__catalog-list-item-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--text-light);
    background-image: var(--button-rest);
    border-radius: 50px;
    padding: 10px 16px;
}

.catalog__pagination-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0
}

.catalog__pagination-list-item {
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    margin-left: 20px;
}
/*catalog buttons behaviour*/
.catalog__catalog-list-item-button:hover {
    background-image: var(--button-hover);
}

.catalog__catalog-list-item-button:focus {
    background-image: var(--button-pressed);
}